@import "tailwindcss";

:root {
  --pink-primary: #ff4765;
  --pink-border: #ff476529;

  --card-bg: rgba(45, 15, 25, 0.55);
  --card-bg-2: rgba(75, 10, 20, 0.35);

  --inner-glow: rgba(255, 255, 255, 0.12);

  --pink: #ff4765;
  --green: #12d18e;
  --red: #f54336;
  --purple: #4f52ff;
  --yellow: #ffe600;
}

/* --- Trend ticker --- */
.ticker {
  position: relative;
}

.ticker-track {
  display: flex;
  width: max-content;
  animation: ticker-scroll 35s linear infinite;
}

/* pause when hovering */
.ticker:hover .ticker-track {
  animation-play-state: paused;
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
